$accent: gold;

$black-lowlight: black;
$black-highlight: #909090;

$blue-lowlight: darkblue;
$blue-highlight: cornflowerblue;

$green-lowlight: darkgreen;
$green-highlight: lightgreen;

$orange-lowlight: #D06C00;
$orange-highlight: #FEDE84;

$purple-lowlight: #5A005A;
$purple-highlight: #C887C8;

$red-lowlight: #CE0000;
$red-highlight: pink;

$white-lowlight: #9F9F9F;
$white-highlight: white;

$yellow-lowlight: #CAB000;
$yellow-highlight: #FFFFB0;
