$accent: gold;

$board-lowlight: #542806;
$board-highlight: #81410C;

$black-lowlight: black;
$black-highlight: #909090;

$blue-lowlight: darkblue;
$blue-highlight: cornflowerblue;

$light-blue-lowlight: #236BE0;
$light-blue-highlight: #A9C0E7;

$dark-green-lowlight: #183118;
$dark-green-highlight: #489E48;

$green-lowlight: darkgreen;
$green-highlight: lightgreen;

$orange-lowlight: #D06C00;
$orange-highlight: #FEDE84;

$purple-lowlight: #5A005A;
$purple-highlight: #C887C8;

$red-lowlight: #CE0000;
$red-highlight: pink;

$white-lowlight: #9F9F9F;
$white-highlight: white;

$yellow-lowlight: #CAB000;
$yellow-highlight: #FFFFB0;
