@import "partials/dimensions";

@mixin board-token($diameter) {
  border: none;
  border-radius: 50%;
  font-size: 16px;
  height: $diameter;
  margin: $token-margin;
  outline: none;
  width: $diameter;
}

@mixin hover-halo {
  transition: box-shadow 0.15s;

  &:hover {
    box-shadow: 0em 0em 1em 0.3em gold;
  }
}