@import "partials/colours";
@import "partials/dimensions";

@mixin board-token($diameter) {
  border: none;
  border-radius: 50%;
  font-size: 16px;
  height: $diameter;
  margin: $token-margin;
  outline: none;
  transition-timing-function: linear;
  width: $diameter;
}
