@import "partials/colours";

.board-button {
  background: transparent;
  border-width: 0em;
  outline: none;
  transition: opacity 0.5s;

  &:hover{
    text-shadow: 0em 0em 1em $accent
  }
}

.hover-halo {
  transition: box-shadow 0.1s linear;

  &:hover {
    box-shadow: 0em 0em 1em 0.3em $accent;
  }
}