@import "partials/colours";

.background-panel {
  background-image: linear-gradient($board-lowlight, $board-highlight);
  border-radius: 1%;
  box-shadow: 1em 1em 3em black;
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.board-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.2em;
}

.control-label {
  align-items: center;
  display: flex;
}

.label-target {
  margin-left: 0.6em;
}

.noise-overlay {
  align-items: center;
  background-image: url("../../images/noise150.png");
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
