.content-container {
  height: 49em;
  perspective: 90em;
  position: relative;
  width: 64em;
}

.rotating-panel {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 2s;
  width: 100%;

  & .rotating-panel-face {
    backface-visibility: hidden;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.front-panel-host {
  @extend .rotating-panel-face;
  z-index: 2;
}

.back-panel-host-horizontal {
  @extend .rotating-panel-face;
  transform: rotateY(180deg);
  z-index: 1;
}

.back-panel-host-vertical {
  @extend .rotating-panel-face;
  transform: rotateX(180deg);
  z-index: 1;
}

.show-back-panel-horizontal {
  transform: rotateY(180deg);
}

.show-back-panel-vertical {
  transform: rotateX(-180deg);
}
