.root-container {
  height: 29em;
  perspective: 90em;
  position: relative;
  width: 59em;
}

.rotating-panel {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 2s;
  width: 100%;

  & .rotating-panel-face {
    backface-visibility: hidden;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.game-board-host {
  @extend .rotating-panel-face;
  z-index: 2;
}

.new-game-panel-host {
  @extend .rotating-panel-face;
  transform: rotateY(180deg);
  z-index: 1;
}
