@import "partials/colours";
@import "partials/durations";
@import "partials/fonts";

$default-board-text-colour: darken($board-lowlight, 4%);
$font-size: 1.3em;

// Applies a left margin, suitable for inter-word spacing
.new-word {
  margin-left: ($font-size / 2.5);
}

.title-badge {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 1);
  }
  75% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.win-text {
  display: flex;
  font-size: $font-size * 3;
  letter-spacing: 0.2em;
}

.title-badge-text {
  margin: $font-size * -0.3;
  display: flex;
  font-size: $font-size;
}

// Text to be displayed on the game board surface
.default-text {
  @include set-font-family();
  color: $default-board-text-colour;
}

// Text on surfaces other than the game board, e.g. modal overlay
.alt-text {
  @include set-font-family();
  color: white;
}

.pulsing-text-colour {
  @keyframes pulsing-colour {
    0% {
      color: $default-board-text-colour;
    }
    50% {
      color: gold;
    }
    100% {
      color: $default-board-text-colour;
    }
  }

  animation-name: pulsing-colour;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.game-over-text {
  @extend .alt-text;
  animation-duration: $win-text-pop-in-duration;
  animation-name: pop-in;
}

.f {
  @extend .default-text;
  color: $green-highlight;
}

.i {
  @extend .default-text;
  color: $red-highlight;
}

.n {
  @extend .default-text;
  color: $purple-highlight;
}

.d {
  @extend .default-text;
  color: $white-highlight;
}

.t {
  @extend .default-text;
  color: $red-highlight;
}

.h {
  @extend .default-text;
  color: $purple-highlight;
}

.e {
  @extend .default-text;
  color: $yellow-lowlight;
}

.c {
  @extend .default-text;
  color: $white-highlight;
}

.o {
  @extend .default-text;
  color: $orange-highlight;
}

.l {
  @extend .default-text;
  color: $yellow-highlight;
}

.u {
  @extend .default-text;
  color: $green-highlight;
}

.r {
  @extend .default-text;
  color: $purple-highlight;
}

.s {
  @extend .default-text;
  color: $red-highlight;
}

.q {
  @extend .default-text;
  color: $orange-highlight;
}

.g {
  @extend .default-text;
  color: $green-highlight;
}

.a {
  @extend .default-text;
  color: $blue-highlight;
}

.exclaimation {
  @extend .default-text;
  color: $blue-highlight;
}
