@import "partials/colours";

$font-size: 1.3em;

.newWord {
  margin-left: ($font-size / 2.5);
}

.titleBadge {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: $font-size * 12;
}

.winText {
  display: flex;
  font-size: $font-size * 3;
  letter-spacing: 0.2em;
}

.titleBadgeText {
  margin: $font-size * -0.3;
  display: flex;
  font-size: $font-size;
}

.letter {
  font-family: 'Rammetto One', cursive;
}

.f {
  @extend .letter;
  color: $green-highlight;
}

.i {
  @extend .letter;
  color: $red-highlight;
}

.n {
  @extend .letter;
  color: $purple-highlight;
}

.d {
  @extend .letter;
  color: $white-highlight;
}

.t {
  @extend .letter;
  color: $red-highlight;
}

.h {
  @extend .letter;
  color: $purple-highlight;
}

.e {
  @extend .letter;
  color: $yellow-lowlight;
}

.c {
  @extend .letter;
  color: $white-highlight;
}

.o {
  @extend .letter;
  color: $orange-highlight;
}

.l {
  @extend .letter;
  color: $yellow-highlight;
}

.u {
  @extend .letter;
  color: $green-highlight;
}

.r {
  @extend .letter;
  color: $purple-highlight;
}

.s {
  @extend .letter;
  color: $red-highlight;
}

.q {
  @extend .letter;
  color: $orange-highlight;
}

.g {
  @extend .letter;
  color: $green-highlight;
}

.a {
  @extend .letter;
  color: $blue-highlight;
}

.exclaimation {
  @extend .letter;
  color: $blue-highlight;
}
