@import "partials/colours";
@import "partials/durations";
@import "partials/fonts";

$font-size: 1.3em;

.newWord {
  margin-left: ($font-size / 2.5);
}

.titleBadge {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.winText {
  display: flex;
  font-size: $font-size * 3;
  letter-spacing: 0.2em;
}

.titleBadgeText {
  margin: $font-size * -0.3;
  display: flex;
  font-size: $font-size;
}

.default-text {
  @include set-font-family();
  color: darken($board-lowlight, 4%)
}

.game-over-text-container {
  @include set-font-family();
  animation-duration: $win-text-pop-in-duration;
  animation-name: pop-in;
  color: white;
}

.f {
  @extend .default-text;
  color: $green-highlight;
}

.i {
  @extend .default-text;
  color: $red-highlight;
}

.n {
  @extend .default-text;
  color: $purple-highlight;
}

.d {
  @extend .default-text;
  color: $white-highlight;
}

.t {
  @extend .default-text;
  color: $red-highlight;
}

.h {
  @extend .default-text;
  color: $purple-highlight;
}

.e {
  @extend .default-text;
  color: $yellow-lowlight;
}

.c {
  @extend .default-text;
  color: $white-highlight;
}

.o {
  @extend .default-text;
  color: $orange-highlight;
}

.l {
  @extend .default-text;
  color: $yellow-highlight;
}

.u {
  @extend .default-text;
  color: $green-highlight;
}

.r {
  @extend .default-text;
  color: $purple-highlight;
}

.s {
  @extend .default-text;
  color: $red-highlight;
}

.q {
  @extend .default-text;
  color: $orange-highlight;
}

.g {
  @extend .default-text;
  color: $green-highlight;
}

.a {
  @extend .default-text;
  color: $blue-highlight;
}

.exclaimation {
  @extend .default-text;
  color: $blue-highlight;
}
