@import "partials/colours";
@import "partials/dimensions";

.board-footer {
  align-items: center;
  display: flex;
  margin-top: 1.2em;
}

.column-content {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.column-set {
  display: inline-flex;
  flex-direction: row;
}

.feedback-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0.3em 0em;
  width: ($small-token * 2) + ($token-margin * 5)
}

.separator {
  border-bottom-color: $board-highlight;
  border-left-color: $board-lowlight;
  border-right-color: $board-highlight;
  border-style: solid;
  border-top-color: $board-lowlight;
  border-width: 0.07em;
  opacity: 0.6;
}
