@import "partials/dimensions";

.game-board {
  background-image: linear-gradient(#542806, #81410C);
  border-radius: 1%;
  display: inline-flex;
  flex-direction: column;
}

.noise-overlay {
  background-image: url("../../images/noise150.png");
}

.board-row {
  display: flex;
}

.feedback-section {
  display: flex;
  flex-wrap: wrap;
  width: ($small-token * 2) + ($token-margin * 5)
}
