@import "mixins/board-tokens";
@import "partials/colours";
@import "partials/dimensions";

$animation-duration: 0.5s;

@mixin pulse {
  $animation-name: unique-id();
  @keyframes #{$animation-name} {
    0% {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  animation-duration: $animation-duration;
  animation-timing-function: ease;
  animation-name: $animation-name;
}

@mixin pulsing-board-token($highlight, $lowlight) {
  background-image: radial-gradient(circle farthest-side at 40% 40%, $highlight, $lowlight);
  z-index: 1;
  @include pulse();
}

.large {
  @include board-token($large-token);
}

.small {
  @include board-token($small-token);
}

.pulsing-halo {
  @include board-token($large-token);
  @keyframes pulsing-halo {
    0% {
      opacity: 0;
      transform: scale3d(1, 1, 1);
    }
    50% {
      opacity: 0.15;
    }
    100% {
      opacity: 0;
      transform: scale3d(1.4, 1.4, 1);
    }
  }
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-name: pulsing-halo;
  background: radial-gradient(circle farthest-side at center, transparent 60%, $accent 80%, $accent 90%, transparent 100%);
  margin: initial;
  position: absolute;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.z-stack {
  align-items: center;
  display: flex;
  justify-content: center;
}

.halo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  transition: opacity 0.7s;
}

.segment-shadow {
  @keyframes shadow {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.4;
    }
  }
  animation-duration: 1s;
  animation-name: shadow;
  background: black;
  filter: blur(0.1em);
  margin: initial;
  opacity: 0.4;
  position: absolute;
  transform: scale3d(1.06, 1.06, 1) skew(2deg, 2deg) translate3d(0.2em, 0.2em, 0em);
}

.black {
  @include pulsing-board-token($black-highlight, $black-lowlight);
}

.blue {
  @include pulsing-board-token($blue-highlight, $blue-lowlight);
}
  
.green {
  @include pulsing-board-token($green-highlight, $green-lowlight);
}
  
.none {
  background-color: rgba(225, 225, 225, 0.1);
  filter: blur(0.3em);
}
  
.orange {
  @include pulsing-board-token($orange-highlight, $orange-lowlight);
}
  
.purple {
  @include pulsing-board-token($purple-highlight, $purple-lowlight);
}
  
.red {
  @include pulsing-board-token($red-highlight, $red-lowlight);
}
  
.white {
  @include pulsing-board-token($white-highlight, $white-lowlight);
}
  
.yellow {
  @include pulsing-board-token($yellow-highlight, $yellow-lowlight);
}
